@import url("https://use.typekit.net/jmk3xov.css");

.container {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: block;
}


:root {
  --dark-bg: #3e3b3b;
  --spacing: 250px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  overflow-x: hidden;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.headerP {
  font-size: xx-large;
}

.pCrunch {
  color: red;
}

.pMath {
  color: blue
}

.links {
  color: #ffffff; /* White text color */
  background-color: #0056b3; /* A nice blue background color */
  text-decoration: none; /* Removes the default underline */
  padding: 2px 3px; /* Adds some padding */
  border-radius: 10px; /* Rounds the corners */
  display: inline-block; /* Ensures padding and background color are applied correctly */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.links:hover {
  background-color: #003d7a; /* Darker blue for hover */
  color: #e0e0e0; /* Light grey text color for better contrast */
}



h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}



  header {
    background: var(--dark-bg);
    grid-column: 3 / span 8;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    overflow-x: hidden;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; 
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 150px;
    overflow-x: hidden;
  }

  .right {
    grid-column: 6 / 12;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 150px;
    overflow-x: hidden;
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
    overflow-x: hidden;
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
    overflow-x: hidden;
  }

  .left {
    grid-column: 6 / 12;
    overflow-x: hidden;
  }

  .h1 {
    grid-column: 6 / span 8;
  }

